@font-face {
	font-family: 'UbuntuLight';
	src: url('fonts/ubuntu/Ubuntu-L.ttf');
}
@font-face {
	font-family: 'UbuntuBold';
	src: url('fonts/ubuntu/Ubuntu-B.ttf');
}
@font-face {
	font-family: 'UbuntuLI';
	src: url('fonts/ubuntu/Ubuntu-LI.ttf');
}
@font-face {
	font-family: 'UbuntuR';
	src: url('fonts/ubuntu/Ubuntu-R.ttf');
}
.main_each_mob{
	display: none;
}
.bor{
	border:1px solid red;
}
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}
body{
	padding: 0;
	margin: 0;
	background-color: #dddddd;
}
.content{
	width: 1170px;
	margin:0px auto;
}
.clear:after{
	content: " ";
	display: block;
	clear: both;
}
p{
	margin:0px;
}
i{
	vertical-align: middle;
}
ul{
	margin:0px;
	padding:0px;
}
.pointer{
	cursor: pointer;
}
.center{
	float:none;
	margin:0px auto;
}
.nopadd{
	padding:0px;
}
.rightNopadd{
	padding-right:0px;
}
.leftNopadd{
	padding-left:0px;
}
.left{
	float:left;
}
.right{
	float:right;
}
a{
	outline: none;
	text-decoration: none;
	color:inherit;
}
a:hover{
	outline: none;
	text-decoration: none;
	color:inherit;
}
a:focus{
	outline: none;
	text-decoration: none;
	color:inherit;
}
#fp-nav{
	display: none;
}
header{
	background-color: #000000;
}

.head_main{
	padding-left: 30px;
	padding-right: 30px;
}
.lang_butt{
	margin-top: 24px;
	user-select: none;
}
.lang_butt span{
	color: #ddddde;
	font-size: 14px;
	font-family: "UbuntuLight";
	cursor: pointer;
}
.lang_butt span:hover{
	color: #a78447;
}

.h_logo{
	padding: 13px 0px;
}
.h_menu_main{
	margin-top: 23px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.h_menu_main ul{
	list-style: none;
}
.h_menu_main ul li{
	display: inline-block;
	padding: 0px 18px;
}
.h_menu_main ul li span{
	color: #ddddde;
	font-size: 14px;
	font-family: "UbuntuLight";
	padding: 8px 12px;
}
.h_menu_main ul li span:hover{
	cursor: pointer;
	color: #a78447;
}

.h_menu_main{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.h_reserve_button{
	text-align: right;
	margin-top: 24px;
}
.h_reserve_button_link{
	border: 1px solid  #ddddde;
	color: #ddddde;
	font-size: 14px;
	font-family: "UbuntuBold";
	padding: 14px 36px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 24px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: 0.1s;
}
.h_reserve_button_link:hover{
	border: 1px solid  #a78447;
	background-color: #a78447;
	color: #000000;
}
.restaurant_sub_head{
	background-color: #d0d0d1;
	display: none;
	position: absolute;
	width: 100%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 10;
}
.restaurant_sub_head ul{
	list-style: none;
	text-align: center;
}
.restaurant_sub_head ul li{
	color: #000000;
	font-size: 14px;
	font-family: "UbuntuLight";
	display: inline-block;
	padding:10px 15px;
}

.events_sub_head{
	background-color: #f8f8f8;
	display: none;
	position: absolute;
	width: 100%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 10;
}
.events_sub_head ul{
	list-style: none;
	text-align: center;
}
.events_sub_head ul li{
	color: #000000;
	font-size: 14px;
	font-family: "UbuntuLight";
	display: inline-block;
	padding:10px 15px;
}
.gallery_sub_head{
	background-color: #f9fafb;
	display: none;
	position: absolute;
	width: 100%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 10;
}
.gallery_sub_head ul{
	list-style: none;
	text-align: center;
}
.gallery_sub_head ul li{
	color: #000000;
	font-size: 14px;
	font-family: "UbuntuLight";
	display: inline-block;
	padding:10px 15px;
}


.menu_items{
	position: relative;
	overflow: hidden;
}
.menu_items img{
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	-webkit-filter: blur(3px);
	-mozt-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
	background-color: rgba(0,0,0,0.5);
}
.menu_items_name{
	position: absolute;
	text-align: center;
	width:100%;
	color:#ffffff;
	top:50%;
	font-size: 24px;
	font-family: "UbuntuBold";
	text-shadow: 0px 0px 5px #000000;
	z-index: 5;
	text-transform: uppercase;
}
.menu_items_main{
	position: relative;
}
.menu_main{
	background-color: #000000;
}
.mi_left_main{
	padding-right: 5px;
}
.mi_right_main{
	padding-left: 5px;
}
.mi_left_big{
	width: 300px;
	float: left;
}
.mi_left_big img{
	width: 100%;
}
.mi_mains{
	margin-top: 70px;
}
.mi_left_m_main{
	float: right;
	border:1px solid #a78447;
	width: 42.6%;
}
.mi_left_m_list{
	list-style: none;
	padding: 19px;
}
.mi_left_m_list li{
	margin-top: 5px;

}
#fullpage{
	/*margin-top: -40px !important;*/
}
.mi_left_js{
	cursor: pointer;
}
.mi_left_m_list li span{
	font-family: UbuntuLight;
	font-size: 14px;
	display: block;
	margin-bottom: 2px;
}
.mi_left_m_list li p{
	border-bottom: 1px solid black;
	width: 65px;
}
.mi_r_its{
	width: 120px;
}
.mi_r_its_p{
	text-align: center;
	text-transform: uppercase;
	border:1px solid #2c2c2c;
	color:#2c2c2c;
	font-size: 14px;
	font-family: "UbuntuLight";
	padding: 4px 0px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.mi_r_its_mains{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 24px;
}



.mi_r_title {
	font-size: 16px;
	font-family: "UbuntuBold";
	color: #a78447;
	border-bottom: 1px solid #2c2c2c;
	padding-bottom: 6px;
	padding-top: 6px;
}
.mi_r_items{
		transition: 1s;
}
.mi_rThis_item{
	padding-top: 7px;
	padding-bottom: 7px;
	font-size: 14px;
	font-family: "UbuntuLight";
	color:#000000;
}
.mi_rThis_item span{
	float: right;
}
.mi_black{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: 0px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 4;

}
.d_mi_black{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: 0px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 4;
}
.menu_items_main:hover .menu_items img{
	-webkit-filter: none;
	-mozt-filter: none;
	-o-filter: none;
	-ms-filter: none;
	background-color:transparent;
}
.menu_items_main:hover .mi_black{
	display: none;
}


.archive_big_img{
	width: 100%;
	height: 570px;
	position: relative;
	overflow: hidden;
	float: left;
}
.archive_big_img img{
	width: 100%;
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;

}
.archive_main{
	margin-top: 40px;
}
.archive_rows_left{
	height: 360px;
	border-right: 1px solid #a78447;
	margin-right: -15px;
	margin-top: 20%
}
.archive_rows_right{
	height: 360px;
	border-right: 1px solid #a78447;
	margin-left: -15px;
	margin-top: 20%
}
.archive_info{
	width: 100%;
	height: 570px;
	display: table;
}
.archive_inf_date{
	font-size: 16px;
	font-family: UbuntuLight;
	text-align: center;
}
.archive_inf_name{
	font-size: 24px;
	font-family: UbuntuBold;
	text-align: center;
	color: #000000;
}
.archive_infs{
	vertical-align: middle;
	display: table-cell;

}
.arc_min{
	margin-top: 35px;
}
.archive_inf_name_sur{
	font-size: 16px;
	font-family: UbuntuLight;
	text-align: center;
	color: #000000;
}
.archive_inf_more{
	text-align: center;
	margin-top: 19px;
	margin-bottom: 15px;
}
.archive_inf_more span{
	font-size: 14px;
	font-family: UbuntuBold;
	color: #b29665;
	padding: 6px 42px;
	border-radius: 17px;
	border: 1px solid #b29665;
	cursor: pointer;
}
.tarc_slide_items{
	width: 100%;
	margin-top: 20px;
}
.tarc_slide_items img{
	width: 100%;
}
.tarc_slide_main{
	height: 800px;
	overflow-x: hidden;
	overflow-y: scroll;
	padding-right: 15px;
}
.tarc_slide_items:first-child{
	margin-top: 0px;
}
.tarc_slide_main::-webkit-scrollbar {
	width: 2px;
}
.tarc_slide_main::-webkit-scrollbar-thumb {
	outline: none;
	background-color: #b29665;
}
.tarc_slide_main::-webkit-scrollbar-track
{
	border-radius: 0px;
	background-color: #d2cbbf;
}
.arc_mins{
	margin-top: 75px;
}
.this_archive_inf_name{
	font-size: 24px;
	font-family: UbuntuBold;
	color: #000000;
	text-align: center;
}
.this_archive_inf_date{
	text-align: center;
}

.this_archive_inf_date span{
	font-family: UbuntuLight;
	font-size: 16px;
	padding-bottom: 7px;
	border-bottom: 1px solid #b29665;
}
.this_archive_inf_text{
	margin-top: 15px;
	font-family: UbuntuLight !important;
}
.this_archive_inf_text p{
	margin-top: 15px;
	font-family: UbuntuLight;
	font-size: 16px;
	text-align: center;
}
.this_archive_inf_text p:first-child{
	margin-top: 35px;
}
.this_arc_info{
	padding-left: 40px;
	padding-right: 40px;
}
.this_arc_back{
	text-align: center;
	margin-top: 53px;
}
.this_arc_back span{
	font-size: 14px;
	font-family: UbuntuBold;
	color: #b29665;
	padding: 6px 42px;
	border-radius: 17px;
	border: 1px solid #b29665;
	cursor: pointer;
}
.card_pic{
	/*width: 490px;*/
	/*margin: 0px auto;*/
	/*margin-top: 40px;*/
}
.card_pic img{
	/*width: 100%;*/
}
.card_image{
	margin-top: 9%;
}
.card_image img{
	width: 90%;
	text-align: center;
}
.c_l_main{
	vertical-align: middle;
	display: table-cell;
	padding-left: 30px;
}
.c_l_number span{
	font-size: 24px;
	font-family: UbuntuBold;
	color: #000000;
	border-bottom: 1px solid #b29665;
	padding-bottom: 8px;
}
.c_l_desc{
	font-size: 16px;
	font-family: UbuntuLight;
	color: #000000;
}
.c_l_number{
	margin-bottom: 11px;
}
.c_l_write{
	margin-top: 20px;
	user-select: none;
}
.c_l_write span{
	font-size: 14px;
	font-family: UbuntuBold;
	color: #b29665;
	padding: 6px 42px;
	border-radius: 17px;
	border: 1px solid #b29665;
	cursor: pointer;
}
.c_l_social{
	margin-top: 30px;
	vertical-align: middle;
}
.c_l_social span{
	border: 1px solid;
	font-size: 22px;
	cursor: pointer;
	width: 41px;
	display: inline-block;
	border-radius: 25px;
	padding: 4px 0px;
	text-align: center;
}

.c_l_social span:hover{
	border: 1px solid #b29665;
	color: #b29665;
}
.c_write_mains{
	width: 540px;
	background-color: #000000;
	margin: 80px auto;
	padding-bottom: 44px;
}
.c_write_close{
	text-align: right;
}
.c_write_close img{
	padding: 13px;
	cursor: pointer;
}
.c_write_title{
	text-align: center;
}
.c_write_title span{
	font-size: 24px;
	font-family: UbuntuBold;
	color: #dddddd;
}
.c_write_title_row{
	margin: 0px auto;
	width: 114px;
	border-bottom: 1px solid #b29665;
}
.c_write_form{
	width: 370px;
	margin: 24px auto;
}
.c_write_form p{
	margin-top: 10px;
}
.c_write_form p input{
	background-color: transparent;
	border: 1px solid #cccccc;
	color: #ffffff;
	border-radius: 16px;
	width: 100%;
	padding-left: 13px;
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 12px;
	font-family: UbuntuLight;
}
.c_write_form p textarea{
	background-color: transparent;
	border: 1px solid #cccccc;
	color: #ffffff;
	border-radius: 16px;
	width: 100%;
	padding-left: 13px;
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 12px;
	font-family: UbuntuLight;
	resize: none;
}
.c_write_button{
	text-align: center;

}
.c_write_button input{
	font-size: 16px;
	font-family: UbuntuBold;
	background-color: #b29665;
	color: #000000;
	padding: 6px 64px;
	border-radius: 17px;
	cursor: pointer;
	border:none;
}
.r_right_big_img{
	position: relative;
	overflow: hidden;
}
.r_right_big_img img{
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	-webkit-filter: blur(5px);
	-mozt-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
}
.r_rigt_b_opent{
	width: 288px;
	height: 100%;
	overflow: hidden;
	margin: 0px auto;
	margin-top: 6%;
}

.mi_black_s{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	position: absolute;
	top: 0px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 4;
}
.mi_black_se{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 5;
}
.r_right_vertical {
	width: 370px;
	vertical-align: middle;
	margin: 0px auto;
}
.res_title{
	font-size: 24px;
	font-family: UbuntuBold;
	color:#e4e4e4;
	text-align: center;
}
.res_title span{
	border-bottom: 1px solid #b29665;
	padding-bottom: 8px;
}
.res_row_input{
	margin-top: 10px;
}
.row_out_circle{
	text-align: center;
}
.res_row_input input{
	background-color: #3a3936;
	border: 1px solid #cccccc;
	color: #ffffff;
	border-radius: 16px;
	width: 100%;
	padding-left: 13px;
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 12px;
	font-family: UbuntuLight;
}
.res_row_input_for_boot input{
	background-color: #3a3936;
	border: 1px solid #cccccc;
	color: #ffffff;
	border-radius: 16px;
	width: 100%;
	padding-left: 13px;
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 12px;
}
.res_row_input textarea{
	background-color: #3a3936;
	border: 1px solid #cccccc;
	color: #ffffff;
	border-radius: 16px;
	width: 100%;
	padding-left: 13px;
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 12px;
	font-family: UbuntuLight;
	resize: none;
}
.res_row_in{
	margin-top: 20px;
}
.res_row_place{
	font-size: 12px;
	position: absolute;
	background-color: #3a3936;
	top: 10px;
	left: 15px;
	width: 99px;
	color: #757575;
}
.res_row_in_rel{
	position: relative;
}
.res_row_input div{
	background-color: rgba(0,0,0,0.6);
}
.res_row_bl{
	width: 48%;
}
.res_row_input span{
	display: inline-block;
	vertical-align: middle;
}
.res_row_input span:first-child{
	 padding-left: 25px;
	 padding-right: 8px;
	 font-size: 14px;
	 font-family: UbuntuLight;
	 display: inline-block;
 }

.res_row_input_check_text{
	font-size: 15px;
	font-family: UbuntuLight;
	padding-left: 25px;
	color:#cccccc;
}
.bootstrap-datetimepicker-widget .picker-switch td span {
	display: none;
}
input[type="checkbox"] {
	display:none;
}

input[type='checkbox'] {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeSpeed;
	margin: 0;
	display: block;
	float: left;
	position: relative;
	cursor: pointer;
}

input[type='checkbox']:after {
	content: "";
	vertical-align: middle;
	text-align: center;
	line-height: 9px;
	position: absolute;
	cursor: pointer;
	height: 14px;
	width: 14px;
	left: 0;
	top: 0;
	font-size: 8px;
	background-color: rgba(0,0,0,0.6);
	border-radius: 2px;
}

input[type='checkbox']:checked:after {
	content: "\F00C";
	font-family: FontAwesome;
	color: #a78447;
	font-size: 14px;
	padding-top: 2px;
	background-color: rgba(0,0,0,0.6);
}
.nomarg{
	margin-top: 0px;
}
.res_row_button{
	text-align: center;
	margin-top: 5px;
}
.res_row_button input{
	font-size: 16px;
	font-family: UbuntuBold;
	color: #000000;
	background-color: #a78447;
	padding: 6px 50px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: none;
}
.res_row_phone{
	text-align: center;
	margin-top: 40px;
}
.res_row_phone span{
	font-size: 14px;
	font-family: UbuntuLight;
	color: #e3e0e0;
}
.c_main{
	display: none;
}
/*.globalMAin{*/
	/*position: absolute;*/
	/*top: 70px;*/
	/*width: 100%;*/
	/*overflow-x: hidden;*/
	/*overflow-y: scroll;*/
/*}*/
/*.globalMAin::-webkit-scrollbar {*/
	/*display: none;*/
/*}*/
/*.main1{*/
	/*background-color: red;*/
	/*height: 100%;*/
	/*width: 100%;*/
/*}*/
/*.main2{*/
	/*background-color: green;*/
	/*height: 100%;*/
	/*width: 100%;*/
/*}*/
/*.main3{*/
	/*background-color: #fffc2e;*/
	/*height: 100%;*/
	/*width: 100%;*/
/*}*/
/*.main4{*/
	/*background-color: #0000ff;*/
	/*height: 100%;*/
	/*width: 100%;*/
/*}*/
/*.main5{*/
	/*background-color: #000000;*/
	/*height: 100%;*/
	/*width: 100%;*/
/*}*/
/*.main6{*/
	/*background-color: #fdf2ff;*/
	/*height: 100%;*/
	/*width: 100%;*/
/*}*/
.main_cont{
	position: absolute;
	width: 100%;
	height: 100%;
}
.mains_conts{
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	z-index: 10;
}
.land_cont{
	width: 1170px;
	margin: 0px auto;
	margin-top: 70px;
}
.section_back_img{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	background-color: rgb(0, 0, 0);
}
.section_back_img > img {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 5;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	-webkit-filter: blur(5px);
	-mozt-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
}
.mi_black {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top: 0px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 6;
}
.arrow_nexts{
	width: 28px;
	height: 15px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 80px;
	margin: auto;
	z-index: 10;
	cursor: pointer;
}
.about_title{
	text-transform: uppercase;
	font-size: 62px;
	font-family: UbuntuBold;
	text-align: center;
	color:#dfdfdf;
	margin-top: -10000px;
	transition:margin-top 1s
}
.about_text{
	font-size: 16px;
	font-family: UbuntuLight;
	text-align: center;
	color:#dfdfdf;
	width: 910px;
	margin: 0px auto;
	margin-top: -10000px;
	transition:margin-top 1s
}
.about_text p{
	font-size: 16px !important;
}
.under_construction{
	text-transform: uppercase;
	font-size: 62px;
	font-family: UbuntuBold;
	text-align: center;
	color: #4e4e4e;
	margin-top: 10%;
 }
.about_all{
	margin-top: 335px;
}
.chef_title{
	text-transform: uppercase;
	font-size: 62px;
	font-family: UbuntuBold;
	color:#dfdfdf;
	padding-top: 20px;
	opacity: 0;
	text-align: left;
	transition: 3s;
}
.chef_img {
	width: 255px;
	height: 255px;
	border-radius: 141px;
	border: 0px solid #514c42;
	margin: 0px auto;
	margin-top: 15px;
	/*margin-left: 100px;*/

	transition: margin-left 5s, border 0.5s;
	position: relative;

}
.imgefect{
	width: 101%;
	height: 122%;
	position: absolute;
	top: -51px;
	z-index: 1000;
	transition: 1s;
	margin-left: 830px;
}
.chef_name{
	text-transform: uppercase;
	font-size: 24px;
	font-family: UbuntuBold;
	text-align: center;
	color:#dfdfdf;
	padding-top: 5px;
	opacity: 0;
	transition: 1.5s;
}
.chef_cit{
	font-size: 16px;
	font-family: UbuntuLI;
	text-align: center;
	color: #a78447;
	padding-top: 5px;
	opacity: 0;
	transition: 1.5s;
}
.chef_text{
	font-size: 16px;
	font-family: UbuntuLight;
	text-align: center;
	color: #dfdfdf;
	width: 635px;
	margin: 0px auto;
	margin-left: -3000px;
	transition: 1s;
}
.chef_text p{
	font-size: 16px !important;
}
.land_clubCont{
	width: 100%;
	background-color: #000000;
	position: absolute;
	bottom: -40px;
}
.club_title{
	text-transform: uppercase;
	font-size: 62px;
	font-family: UbuntuBold;
	text-align: center;
	color:#dfdfdf;
}
.clubCard_terms{
	text-transform: uppercase;
	font-size: 24px;
	font-family: UbuntuBold;
	text-align: center;
	color:#dfdfdf;
}
.club_term_row{
	width: 115px;
	margin: 0px auto;
	border-bottom: 1px solid #a78447;
}
.card_land_cont{
	width: 1170px;
	margin: 0px auto;
	margin-bottom: 65px;
}
.clubCard_rows{
	font-size: 16px;
	font-family: UbuntuLight;
	color:#dfdfdf;
	margin-bottom: 4px;
}
.clubCard_rows span{
	width: 10px;
	height: 10px;
	display: inline-block;
	background: #a78447;
	border-radius: 10px;
	margin-right: 9px;
}
.d_main{
	width: 100%;
	background-color: #000000;
	position: absolute;
	bottom: 0;
}
.d_title{
	font-size: 62px;
	font-family: UbuntuBold;
	text-align: center;
	color:#dfdfdf;
	padding-top: 2%;
}
.d_img{
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	/*background-color: rgba(0,0,0,0.5);*/
}
.d_img img{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;

}
.d_sections{
	position: relative;
	cursor: pointer;
}
.d_title_secont{
	position: absolute;
	z-index: 7;
	width: 100%;
}
.d_title_s{
	font-size: 24px;
	font-family: UbuntuBold;
	text-align: center;
	color:#dfdfdf;
	padding-top: 5%;
}
.d_sections:hover .d_mi_black{
	display: none;
}
.feed_title{
	text-transform: uppercase;
	font-size: 62px;
	font-family: UbuntuBold;
	text-align: center;
	color: #dfdfdf;
	padding-top: 20px;
	margin-bottom: 70px;
}
.rev_cont{
	width: 380px;
	margin: 0px auto;
	margin-top: 70px;
}
.rev_send{
	font-size: 16px;
	font-family: UbuntuBold;
	color: #000000;
	background-color: #a78447;
	padding: 6px 64px !important;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: none;
}
.m_socials{
	width: 45px;
	position: fixed;
	bottom: 25px;
	left: 30px;
	z-index: 25;
}
.soc_m_ul{
	list-style: none;
}
.soc_m_ul li{
	margin-bottom: 20px;
}
.vol_plus_icon{
	border: 1px solid #dfdfdf;
	padding: 7.5px 10px;
	border-radius: 22px;
	color: #dfdfdf;
	cursor: pointer;
	font-size: 22px;
}
.vol_min_icon{
	border: 1px solid #dfdfdf;
	padding: 7.5px 15px;
	border-radius: 22px;
	color: #dfdfdf;
	cursor: pointer;
	font-size: 22px;
}
.face_icon{
	border: 1px solid #dfdfdf;
	padding: 7.5px 14px;
	border-radius: 22px;
	color: #dfdfdf;
	cursor: pointer;
	font-size: 22px;
}
.insta_icon{
	border: 1px solid #dfdfdf;
	padding: 7.5px 11px;
	border-radius: 22px;
	color: #dfdfdf;
	cursor: pointer;
	font-size: 22px;
}
.tele_icon{
	border: 1px solid #dfdfdf;
	padding: 7.5px 10px;
	border-radius: 22px;
	color: #dfdfdf;
	cursor: pointer;
	font-size: 22px;
}
.pint_icon{
	border: 1px solid #dfdfdf;
	padding: 7.5px 12px;
	border-radius: 22px;
	color: #dfdfdf;
	cursor: pointer;
	font-size: 22px;
}
.trip_icon{
	border: 1px solid #dfdfdf;
	padding: 7.5px 7px;
	border-radius: 22px;
	color: #dfdfdf;
	cursor: pointer;
	font-size: 20px;
}
.vol_min{
	display: none;
}
.gal_main{

}
.gal_items{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
.gal_items img{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.a_left_home{
	display: block;
	position: absolute;
    z-index: 10;
    font-size: 30px;
    border: 1px solid #94753f;
    border-radius: 30px;
    vertical-align: middle;
    color: #94753f;
    top: 45%;
    left: 15px;
    cursor: pointer;
    height: 50px;
    width: 50px;
    text-align: center;
}
.a_right_home{
	display: block;
	position: absolute;
    z-index: 10;
    font-size: 30px;
    border: 1px solid #94753f;
    border-radius: 30px;
    vertical-align: middle;
    color: #94753f;
    top: 45%;
    right: 15px;
    cursor: pointer;
    height: 50px;
    width: 50px;
    text-align: center;
}

.vid_main {
	width: 100%;
	height: 200px;
	margin: 0px auto;
	position: relative;
}
.vid_main iframe{
	width: 100% !important;
	height: 100% !important;
}
.vid_abs{
	position: absolute!important;
	width: 100%!important;
	height: 100%!important;
	z-index: 50!important;
	cursor: pointer!important;
}
.my_vid_open{
	width: 800px;
	height: 500px;
	margin: 75px auto;
	margin-bottom: 0px;
	border: 2px solid #a78447;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0px 0px 10px 1px #a78447;;
}
.my_vid_open iframe{
	width: 100% !important;
	height: 100% !important;
}
.gal_v_mainss{
	margin-top: 65px;
}
.vid_name{
	text-align: center;
	padding: 5px;
	font-size: 15px;
	text-transform: uppercase;
	font-family: UbuntuBold;
}
.f_fid{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 9999;
	background-color: #000000;
}
.f_vid_main{
	width: 500px;
	height: 400px;
	margin: 0px auto;
	margin-top: 50px;
}
.res_map_main{

}
.res_map_main img{
	width: 100%;
	height: 100%;
}
.res_boot_prob{
	position: relative;
	margin-top: 10px
}














	/*
    *************************************** ACTIVES ***************************************
    */
.active_mi_p{
	font-size: 14px;
	font-family: "UbuntuBold";
	color: #FFFFFF;
	background-color: #a78447;
	border: none;
	padding: 5px 0px;
}
.lang_active{
	color: #a78447!important;
}
.h_menu_active{
	color: #a78447 !important;
	border-bottom: 1px solid #a78447;
}
.restaurant_sub_head_active{
	color: #a78447 !important;
}
.events_sub_head_active{
	color: #a78447 !important;
}
.gallery_sub_head_active{
	color: #a78447 !important;
}
.h_reserve_button_link_active{
	border: 1px solid  #a78447;
	background-color: #a78447;
	color: #000000;
}
.active_menu_baj{
	color: #a78447 !important;
	font-family: "UbuntuBold" !important;
}
.pcnone{
	display:none !important;
}
/*
*********************************************************************************************************
*/

.navigation_mob{
	display: none;

}
.mob_events{
	display: none;
}

.mob_button{
	display: none;
}
.bootstrap-datetimepicker-widget table td.today:before {
	content: '';
	display: inline-block;
	border: solid transparent;
	border-width: 0 0 7px 7px;
	border-bottom-color: #b70712;
	border-top-color: rgba(0, 0, 0, 0.2);
	position: absolute;
	bottom: 4px;
	right: 4px;
}


@media screen and (min-width:1000px) and (max-width:1115px)  {
	.h_menu_main ul li span {
		padding: 8px 1%;
	}
}
@media screen and (min-width:768px) and (max-width:1000px)  {
	.h_menu_main ul li span {
		padding: 8px 1px;
	}
	.lang_butt {
		margin-top: 24px;
		user-select: none;
		width: 60px;
	}
	.h_logo {
		padding: 13px 0px;
		width: 60%;
		float: left;
	}
	.has_inf {
		width: 200px;
	}
	.h_menu_main {
		float: left;
		width: 130%;
	}
	.h_menu_main ul li {
		display: inline-block;
		padding: 0px 6px;
	}
	.h_reserve_button_link {
		padding: 9px 20px;
	}
	.res_butt_infs{
		width: 35%;
	}
	.inf_h_1005{
		float: left;
	}
}


@media screen and (max-width:1024px) {
	.land_cont {
		width: 90%;
		margin: 0px auto;
		margin-top: 70px;
	}
	.content {
		width: 94% !important;
		margin: 0px auto;
	}
	.mi_left_m_main {
		width: 34.6%;
	}
}
@media screen and (max-width:768px) {
	.pcnone{
		display:block !important;
	}
	.mob_menu_socials{
		position: absolute;
		left: 0;
		right: 0;
		bottom: 50px;
	}
	.mob_menu_socials .c_l_social{
		margin-top: 30px;
		vertical-align: middle;
	}
	.mob_menu_socials .c_l_social span{
		border: 1px solid;
		font-size: 22px;
		cursor: pointer;
		width: 41px;
		display: inline-block;
		border-radius: 25px;
		padding: 4px 0px;
		text-align: center;
		color: white;
	}
	.f_fid{
		display: none;
	}
	.vol_min, .vol_pl{
		display: none;
	}
	.f_vid_main{
		width: 100%;
		height: auto;
		margin: 0px auto;
		margin-top: 20px;
	}
	.f_vid_main video{
		width: 100% !important;
	}
	.head_main {
		padding-left: 15px;
		padding-right: 15px;
	}

	.menuOpen{
		right: 0 !important;
	}
	.h_menu_main ul li {
		display: block;
		padding: 0px 18px;
		margin-top: 25px;
	}
	.main_sub_heads{
		display: none;
	}
	.mobclose{
		position: absolute;
		top: 15px;
		right: 15px;
		font-size: 22px;
	}
	.mobclose >i{
		color: #a78447;
	}
	.navigation_mob{
		display: block;
		padding: 0px;
		position: fixed;
		background: #2b2015;
		z-index: 102;
		right: -1200px;
		top: 0;
		height: 100%;
		padding-top: 20px;
		width: 75%;
		box-shadow: 0px 0px 60px 8px #a78447;
		transition: right 0.7s;
		text-align-last: center;

	}
	.h_menu_main {
		margin-bottom: 50px;
	}
	.gallery_sub_head ul li ,.events_sub_head ul li, .restaurant_sub_head ul li{
		color: #ddddde;
		font-size: 14px;
		font-family: "UbuntuLight";
		display: inline-block;
		padding: 10px 10px;
	}
	.gallery_sub_head,.events_sub_head , .restaurant_sub_head{
		background-color: transparent;
	}
	.h_menu_main ul li span {
		font-size: 18px;
	}
	.mi_left_m_main {
		width: 45.6%;
	}
	.mi_left_big {
		width: 315px;
		float: left;
	}
	.mi_right_main {
		padding-left: 0px;
		margin-left: -15px;
	}
	.my_vid_open {
		width: 650px;
		height: 368px;
	}
	.vid_name {
		font-size: 12px;
	}
	.mob_none{
		display:none !important;
	}
	.mob_butt_st{
		text-align: right;
		color: #ffffff;
		padding-top: 15px;
	}
	.mob_button{
		display: block;
	}
	.chef_img {
		margin-left: 0px;
		margin: 0px auto;
	}
	.chef_name, .chef_cit, .chef_title{
		opacity: 1;
	}
	.chef_title{
		text-align: center;
		margin-bottom: 40px;
	}
	.chef_text{
		margin-left: 0px;
		margin: 0px auto;
		width: 100%;
		font-size: 14px;
	}
}
@media screen and (min-width:425px) and (max-width: 768px) {
	.chef_name{
		margin-top: 50px;
	}
	.about_text{
		width: 98%;
		margin: 0px auto;
	}
	.card_land_cont {
		width: 98%;
		margin: 0px auto;
	}
}
@media screen and (max-width:425px) {
	.card_pic {
		/*width: 90%;*/
	}
	.card_image {
		margin-top: 20%;
	}
	.about_text p{
		font-size: 14px !important;
	}
	.chef_text p {
		font-size: 14px !important;
	}
	.chef_name{
		margin-top: 50px;
	}
	.main_each_mob{
		display: block;
	}
	.main_each_pc{
		display: none;
	}
	.arrow_nexts{
		display: none;
	}
	.mob_events{
		display: block;
	}

	.m_socials{
		display: none;
	}
	.main_mob_back{
		background-image: url("../images/content/mob_back.jpg");
		background-size: 150% 100%;
	}
	.h_reserve_button_link {
		padding: 12px 15px;
		font-size: 12px;
	}
	.h_logo img{
		width: 100%;
	}
	.h_reserve_button {
		margin-top: 21px;
	}
	.lang_butt span {
		font-size: 12px;
	}
	.section_back_img{
		display: none;
	}
	.about_title, .club_title, .d_title,.feed_title,.chef_title {
		font-size: 32px;
	}
	.feed_title{
		margin-bottom: 20px;
	}
	.about_all {
		margin-top: 90px;
	}
	.about_text{
		width: 90%;
	}
	.land_cont {
		margin-top: 0px;
	}
	.clubCard_rows {
		font-size: 14px;
	}
	.land_clubCont{
		background-color: transparent;
		bottom: 0px;

	}
	.card_land_cont {
		width: 90%;
		margin: 0px auto;
		margin-bottom: 65px;
	}
	.d_main{
		background-color: transparent;
	}
	.d_sections{
		height: 140px !important;
	}
	.mi_black{
		display: none
	}
	.clubCard_terms{
		font-size: 16px;
	}
	.club_term_row {
		margin: 15px auto;
		display: none;
	}
	.rev_cont {
		width: 95%;
		margin: 0px auto;
		margin-top: 70px;
	}
	.r_right_vertical {
		width: 95%;
		vertical-align: middle;
		margin: 0px auto;
	}
	.res_map_main{
		height: 425px !important;
		background: #dddddd;
	}
	.res_row_phone {
		margin-top: 10px;
	}
	.res_row_button {
		margin-top: 20px;
	}
	.menu_items{
		height: 240px !important;
	}

	.mob_menuItem{
		background-color: #dddddd;
	}
	.mi_r_its {
		width: 88px;
	}
	.mi_r_its_mains{
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.mi_left_big {
		width: 225px;
		float: left;
		height: 340px;
		overflow: hidden;
	}
	.mi_left_m_main {
		width: 41.6%;
	}
	.mi_left_main {
		padding-right: 0px;
	}
	.mob_menu_iTop{
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.archive_big_img {
		width: 100%;
		height: 382px;
	}
	.archive_info {
		width: 100%;
		display: block;
		margin: 10px auto;
		height: auto;
	}
	.archive_infs {
		vertical-align: middle;
		 display: block;
	}
	.arc_min {
		margin-top: 0px;
	}
	.this_arc_back {
		text-align: center;
		margin-top: 10px;
		margin-bottom: 20px;
	}
	.this_archive_inf_text p:first-child {
		margin-top: 15px;
	}
	.this_archive_inf_text p {
		margin-top: 0px;
		font-family: UbuntuLight;
		font-size: 16px;
		text-align: center;
	}
	.tarc_slide_main {
		height: auto;
		overflow-x: auto;
		overflow-y: auto;
		padding-right: 0px;
	}
	.tarc_slide_items{
		margin-bottom: 20px;
	}
	#maps{
		height: 400px;
	}
	.c_r_main{
		height: auto !important;
	}
	.c_l_main{
		height: auto !important;
	}
	.c_l_main {
		 vertical-align: middle;
		display:block;
		padding-left: 0px;
		text-align: center;
		margin: 20px auto;
	}
	.c_write_mains {
		width: 100%;
		background-color: rgba(0,0,0,0.9);
		margin: 0px auto;
		height: 100%;
	}
	.c_main{
		display: block;
	}
	.d_main{
		height: 560px !important;
	}
	.d_title_s {
		padding-top: 12%;
	}

	.d_img img {
		height: 100%;
		width: auto;
		position: absolute;
		top: 0;
		left: -23%;
		right: 0;
		bottom: 0;
		margin: auto;
	}










	.menuItemNone{
		display: none;
	}
}
@media screen and (max-width:375px) {
	.about_title, .club_title, .d_title, .feed_title, .chef_title {
		font-size: 30px;
	}
	.about_text {
		width: 100%;
	}
	.mi_left_big {
		width: 190px;
	}
	.mi_r_its {
		width: 86px;
	}
	.res_map_main {
		height: 350px !important;
		background: #dddddd;
	}
}

@media screen and (max-width:360px) {
	.about_title, .club_title, .d_title, .feed_title, .chef_title {
		font-size: 30px;
	}
	.about_text {
		width: 100%;
	}
	.c_write_form {
		width: 350px;
		margin: 24px auto;
	}
}



.rev_send_pop{
    position: fixed;
    z-index: 10000;
    width: 300px;
    text-align: center;
    top:-10000px;
    left: 0;
    right: 0;
    margin: auto;
    border: 1px solid #a78447;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.9);
}
.rev_send_text{
    padding: 25px 0px;
    font-size: 22px;
    font-family: UbuntuLight;
    color: #a78447;
}
.rev_send_pop_active{
    top:200px;
}










/********************* SWIPER ******************************/

.swiper-container {
	width: 100%;
	height: 100%;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: transparent;
	/* Center slide text vertically */
	display: inline-block;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.swiper-container-horizontal > .swiper-scrollbar {
	position: absolute;
	left: 15%;
	bottom: 3px;
	z-index: 50;
	height: 2px;
	width: 70%;
}
.swiper-scrollbar {
	border-radius: 10px;
	position: relative;
	-ms-touch-action: none;
	background: rgba(0, 0, 0, 0.1);
}
.swiper-scrollbar-drag {
	height: 100%;
	position: relative;
	background: #94753f;
	border-radius: 10px;
	left: 0;
	top: 0;
}


.inp_num::-webkit-inner-spin-button {
	margin-right: 15px;
}

.item_active_menu{
	background: #a7844714;
	padding: 0 20px;
	transition: 0.4s;
}


@media screen and (min-width:1025px) and (max-width:1360px){
	.air_cont{
		width:1050px;
	}
}
@media screen and (min-width:1440px) {
	.feed_title {
		padding-top: 40%;
	}
	.chef_title {
		padding-top: 14%;
	}
	.chef_img {
		margin: 30px auto;
		margin-top: 39px;
	}
}

#fp-nav{
	dsiplay:block!important;
}
