@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);
body{
	margin:0px;
	overflow-y:hidden;
	background: #d2d6de;
	font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}
div#mainForm {
    width: 35%;
    margin: 0 auto;
	margin-top: 9%;
}
div#mainForm h1{
    margin: 0 auto;
    width: 100%;
    color: #333;
    margin-bottom: 4%;
    text-align: center;
}
#div_form {
    background: #fff;
    width: 83%;
    margin: 0 auto;
}
div#sign_in {
    font-size: 14px;
    margin: 0 auto;
    width: 135px;
    text-align: center;
    padding: 10px 20px 15px 20px;
    color: #666;
}
div#login {
	position: relative;
	margin: 0px auto;
	width: 230px;
    overflow: hidden;
	padding-bottom: 13px;
}
.input_user {
    margin-bottom: 15px;
    position: relative;
}
.input_user input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
	padding-right: 26px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	outline: none;
	box-sizing: border-box;
}
.input_user input:focus {
    border-color: #3c8dbc;
    box-shadow: none;
}
span.icon_input {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
	color: #777;
}
#login_but{
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #3C8DBC;
    border-color: #3C8DBC;
    color: #fff; 
	outline: none; 
	float:right;
}
#login_but:hover{
	background-color: #367fa9;
}
